torch==2.5.0
torchvision==0.20.0
lightning==2.4.0
opencv-python==4.10.0.84
datasets==3.0.1
pandas==2.2.3
matplotlib==3.9.2
comet_ml==3.47.2
einops==0.8.0
scikit-learn==1.5.2
streamlit==1.41.1
st-clickable-images==0.0.3
streamlit-image-comparison==0.0.4
